In [2]:
print("Ingrese los datos de M1, M2, M3 y M4")
M1 = int(input("El valor de M1 es: "))
M2 = int(input("El valor de M2 es: "))
M3 = int(input("El valor de M3 es: "))
M4 = int(input("El valor de M4 es: "))

Ingrese los datos de M1, M2, M3 y M4
El valor de M1 es: 5
El valor de M2 es: 4
El valor de M3 es: 1
El valor de M4 es: 7

In [18]:
print("|" + repr(M1), repr(M2) +"|")
print("|" + repr(M3), repr(M4) +"|")

|5 4|
|1 7|

In [3]:
### Formula
Rt = (M1 * M4)-(M2 * M3)

In [16]:
print("El resultado de la matriz de 2*2 es: " +repr(Rt))

El resultado de la matriz de 2*2 es: 31